/* */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

/* CSS Reset*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  height: 100%;
  line-height: 1.5;
  font: 15px;
  font-family: 'Outfit', sans-serif;
  padding: 4rem 2rem 2rem 2rem;
  background-color: var(--light-gray);
}

input, button, textarea, select {
  font: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  max-width: 24rem;
  margin: 0 auto;
  max-height: 80%;
}

.main__title {
  padding: 1rem;
  color: var(--dark-blue);
  line-height: 1.2;
}

.main__para {
  color: var(--dark-blue);
}

.main__image {
  display: block;
  width: 100%;
  border-radius: 10px;
 
}


